{
	"semi": true,
	"tabWidth": 2,
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "all",
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"endOfLine": "auto",
	"importOrder": [
		"^next",
		"^react",
		"^@[A-Za-z](.*)$",
		"^[A-Za-z](.*)$",
		"^@/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	]
}
